* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
   
    background-image: url("./img/background.png");
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
    
}


#seleccion-titan {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    height: fit-content;
    
   
}



.titulo {
    color: white;
    font-size: 6rem;
    margin-bottom: 2rem;
    padding: 4rem; 
}
.subtitulo{
    color: white;
    font-size: 3rem;
    margin-bottom: 4rem;
    margin-top: 4rem;

}


.tarjetas, .tarjetas-ataque {
    display: flex;
    gap: 1rem; 
    flex-wrap: wrap;
    justify-content: center;
    
}
/* .tarjetas-ataque {
    width: 8rem;
} */

.tarjeta-titan {
    width: 25rem;
    height: 15rem;
    background-color: rgba(98, 127, 143, 0.4);
    /* background: linear-gradient(to bottom right, green, white); */
   /*  background: linear-gradient(to bottom, black, white 99%, gray); */
    /* background: linear-gradient(to right, red, orange, yellow, green, blue); */
  /*   background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)), url(https://img.freepik.com/foto-gratis/fondo-textura-pared-lisa-negra_53876-101843.jpg?w=2000); */
    /* background: radial-gradient(gray, white, rgb(45, 50, 54)); */
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem groove #fff;
    border-radius: 1rem;   
    justify-content: center;
    align-items: center;
    display: flex;
             
}

.tarjeta-titan img {
    width: 13rem;
    margin: 0.5rem;
    
}

.tarjeta-titan p {
    font-size: 1.8rem;
    
    
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#boton-titan {
    background: transparent;
    border-radius: 2rem;
    padding: 1rem 4rem;
    color: white;
    font-size: 2rem;
    border: 0.2rem solid white;
    margin-top: 3rem;
    
    
}

input {
    display: none;
}

input:checked + label {
    background-color: rgba(3, 61, 252, 0.6);
}

#ataque-titan {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: rgba(98, 127, 143, 0.8);
    padding: 1.2rem;
    margin: 1rem;
    border: 0.2rem groove #fff;
    border-radius: 2rem;
    color: white;
    width: 8rem;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 28rem;
    background-color: rgba(22, 168, 246, 0.7);
    padding: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    color: white;
    
}
#mensajes p {
    margin-bottom: 2rem;
}

#mensajes button {
    background-color: rgba(98, 127, 143, 0.4);
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem groove #fff;
    border-radius: 2rem;
    color: white;
    width: 10rem;
    font-family: 'Poppins', sans-serif;
}

#boton-reiniciar {
    border: transparent;
    color: rgb(0, 48, 90);
    font-family: 'Poppins', sans-serif;
    padding: 0.5rem;
    
    

}

.ataques {
    display: grid;
    grid-template-columns: 15rem 15rem;
    text-align: center;
    
    margin-top: 2rem;
    padding: 2rem;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 3.2rem;
    margin-bottom: 1rem;
    padding: 2rem 4rem;
    
    
    font-weight: bold;
    background-color: rgba(98, 127, 143, 0.6);
    border-radius: 1rem;
    color: white;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
}

#titan-jugador, #titan-enemigo {
    padding: 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    background-color: rgba(22, 168, 246, 0.7);
    border-radius: 1rem;
    color: white;
}
#ataques-del-jugador, #ataques-del-enemigo {
    background-color: rgba(22, 168, 246, 0.7);
    color: #fff;
    width: 10rem;
}
#ataques-del-jugador p, #ataques-del-enemigo p {
    font-weight: bold;
    margin: 0.5rem;
    font-style: oblique;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    background: transparent;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    
    font-size: 2rem;
    border: 0.2rem solid white;
    margin: 1rem 0;
    
}

.move-button {
    display: grid;
    gap: .125rem;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
}

.move-button .up {
    grid-column: 2 / 3;
}

.move-button .right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.move-button .down {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.move-button .left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}






@media (max-width: 450px) {
    .tarjetas {
        flex-direction: column;
         
    }
    .tarjetas-ataque {
        flex-direction: column;
    }
    body {
        background-image: url("./img/wallpaper.png");
    }
}
    

